.gradle
build/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/TemplateLibrary/
TestDir/
.idea
*.iml
*.ipr
*.iws
out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Created by .ignore support plugin (hsz.mobi)

bin
build
out
target
target/**
target/*

lib/*
.classpath
.project
.settings
*.zip
.DS_Store
.gradletasknamecache
desktop.ini
fitserverSentinel*
tmp/*
FitNesseRoot/properties
FitNesseRoot/FitNesse/
FitNesseRoot/FitNesseRoot/
FitNesseRoot/PlugIns/
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/RecentChanges*
FitNesseRoot/RerunLastFailures*.wiki
junit*.properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
